$color: black;


div{
    background-color: darkcyan;

    h2{
        background-color: $color;
        color: white;
    }
    ul{
        background-color: $color;
        color: white;
        
    }
}
