$color: white;

%feature{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

div{
    background-color: blueviolet;

    h2{
        color: $color;
    }
    ul{
        color: $color;
        @extend %feature;
        
    }
}
