$color: white;

%feature{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}

div{
    background-color: blueviolet;

    h2{
        color: $color;
    }
    ul{
        color: $color;
        @extend %feature;
        
    }
}